# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Node Modules (if using React/Node)
# =========================
node_modules/

# =========================
# Cache Files
# =========================
.cache/
.pytest_cache/
.mypy_cache/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Model / Data Files
# =========================
*.pkl
*.joblib
*.h5
*.csv
*.sqlite3

# =========================
# Temporary Files
# =========================
temp/
tmp/
.idkh